<!DOCTYPE html>
<html>
<head>
    <title>Air Information</title>
</head>
<body>
    <h1>Air Quality Information</h1>

    <form method="post">
        {% csrf_token %}
        <label for="state">State: </label>
        <input type="text" name="state" id="state" required><br>

        <label for="country">Country: </label>
        <input type="text" name="country" id="country" required><br>

        <input type="submit" value="Get Air Quality Information">
    </form>
<!-- 
    {% if city_data %}
        <h2>Response for {{ city_data.data.city }}, {{ city_data.data.state }}, {{ city_data.data.country }}:</h2>
        <pre>{{ city_data|safe }}</pre>
        
        {% with pollution=city_data.data.current.pollution %}
            <h3>Air Quality Index (AQI): {{ pollution.aqius }}</h3>
            
        {% endwith %}
    {% endif %} -->
    {{city_list}}
</body>
</html>
