<!DOCTYPE html>
<html>
<head>
    <title>Air Information - Step 2</title>
</head>
<body>
    <h1>Step 2: Select City and Get AQI Data</h1>

    {% if city_data %}
        <h2>Response for {{ city_data.data.city }}, {{ city_data.data.state }}, {{ city_data.data.country }}:</h2>
        <pre>{{ city_data|safe }}</pre>
        
        {% with pollution=city_data.data.current.pollution %}
            <h3>Air Quality Index (AQI): {{ pollution.aqius }}</h3>
            
            {% if pollution.aqius <= 50 %}
                <p>AQI: Good</p>
            {% elif pollution.aqius <= 100 %}
                <p>AQI: Moderate</p>
            {% elif pollution.aqius <= 150 %}
                <p>AQI: Unhealthy for Sensitive Groups</p>
            {% elif pollution.aqius <= 200 %}
                <p>AQI: Unhealthy</p>
            {% elif pollution.aqius <= 300 %}
                <p>AQI: Very Unhealthy</p>
            {% else %}
                <p>AQI: Hazardous</p>
            {% endif %}
        {% endwith %}
    {% endif %}
</body>
</html>
